ion-toolbar {
  --background: var(--ion-background-color-dark);
  color: #ffffff;
}
ion-content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  height: auto;
}

.btns-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 90%;
  max-width: 280px;
  text-align: left;
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;
}

.btns-menu:hover {
  transform: scale(1.1);
}

.btns-menu ion-icon {
  font-size: 24px;
  margin-right: 10px;
  color: white;
}

span {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  flex-grow: 1;
}

.logo-img {
  width: 32px;
  margin-left: 10px;
}

ion-menu-button {
  margin-right: 10px;
}

.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.78);
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 0.8rem;
  color: gray;
}

.mat-menu:hover{
  background-color: rgba(42, 42, 42, 0.09);
}

.icon-mat {
  margin-right: 4px;
}

@media (max-width: 768px) {
  ion-menu-button {
    display: none;
  }

  .header-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    flex: 1;
  }

  .user-icon {
    font-size: 40px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.78);
  }

  .user-name {
    font-weight: bold;
  }

  .user-role {
    font-size: 0.7rem;
    color: gray;
  }
}
