<ion-content>
  <app-transition-screen *ngIf="showTransitionScreen"></app-transition-screen>
  <div class="login-container">
    <div class="left-section">
      <div class="overlay"></div>
      <img src="assets/Foto-Login.jpg" alt="Login Image">
    </div>
    <div class="right-section">
      <div class="login-card">
        <img src="assets/HandMaxLogo.png" alt="Logo" class="logo" />
        <h2>Bem-Vindo<br>Ao Sistema de Gerenciamento de Atletas</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="input-container">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input 
              formControlName="login"
              type="text"
              placeholder="Usuário"
              >
            </ion-input>
          </div>

          <div class="input-container">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input
              formControlName="senha"
              type="password"
              placeholder="Senha"
              >
            </ion-input>
          </div>

          <div class="forgot-password">
            <a routerLink="/forgot-password">Esqueceu a senha?</a>
          </div>

          <ion-button expand="block" type="submit">ENTRAR</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
