<app-header></app-header>
<ion-content class="ion-padding">
    <h1>Ver todos os treinos</h1>
    <ion-button (click)="abrirModalCadastro()">Agendar Treino</ion-button>
    <ion-list [inset]="true" lines="full">
      <ion-item *ngFor="let treino of treinos">
        <ion-label>
          <h2>Treino #{{ treino.id }}</h2>
          <p><strong>Data:</strong> {{treino.dataHorario | date:'dd/MM/yyyy'}}</p>
          <p><strong>Horário:</strong> {{treino.dataHorario | date:'HH:mm'}}</p>
          <p><strong>Local:</strong> {{treino.local}}</p>
        </ion-label>
        <ion-icon name="information-circle" slot="end" (click)="verTreino(treino, treino.id)"></ion-icon>
        <ion-icon name="pencil-outline" slot="end" (click)="editarTreino(treino, treino.id)"></ion-icon>
        <ion-icon name="trash-outline" slot="end" (click)="excluirTreino(treino.id)"></ion-icon>
      </ion-item>
    </ion-list>
<!--     
    <div class="card-grid">
      <ion-card *ngFor="let treino of treinos" class="card-item">
        <ion-card-header>
          <ion-card-title>Treino Agendado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <strong>Local:</strong> {{ treino.local }}
        </ion-card-content>
        <ion-card-content>
          <strong>Horário:</strong> {{ treino.horario }}
        </ion-card-content>
        <ion-card-content>
          <strong>Data:</strong> {{ treino.data }}
        </ion-card-content>
        <div class="button-group">
          <ion-button fill="clear" (click)="editarTreino(treino, treino.id)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="excluirTreino(treino.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>   -->
</ion-content>
<app-footer></app-footer>
