<ion-content>
  <div class="forgot-container">
    <div class="left-section">
      <div class="overlay"></div>
      <img src="assets/Foto-Login.jpg" alt="Login Image">
    </div>
    <div class="right-section">
      <div class="forgot-card">
        <img src="assets/HandMaxLogo.png" alt="Logo" class="logo" />
        <h2>Redefinição de Senha</h2>
        <p id="text">Insira sua nova senha para acessar a sua conta</p>
        <form (ngSubmit)="onSubmit()">
          <div class="input-container">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input
              type="text"
              placeholder="Nova Senha">
            </ion-input>
          </div>
          <div class="input-container">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input
              type="text"
              placeholder="Confirmar Senha">
            </ion-input>
          </div>
          <ion-button expand="block" type="submit">CONCLUÍDO</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
