<ion-content>
  <div class="forgot-container">
    <div class="left-section">
      <div class="overlay"></div>
      <img src="assets/Foto-Login.jpg" alt="Login Image">
    </div>
    <div class="right-section">
      <div class="forgot-card">
        <ion-icon name="arrow-back-outline" class="back-button" routerLink="/login" ></ion-icon>
        <img src="assets/HandMaxLogo.png" alt="Logo" class="logo" />
        <h2>Esqueceu a sua Senha?</h2>
          <p id="text">Digite seu e-mail para receber instruções sobre como redefinir sua senha.</p>
        <form (ngSubmit)="onSubmit()">
          <div class="input-container">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              type="text"
              placeholder="E-mail"
            >
            </ion-input>
          </div>

          <ion-button expand="block" type="submit">ENVIAR</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
