<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Treino {{treino?.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [inset]="true" lines="full">
    <ion-list-header><h1>Treino #{{ treino?.id }}</h1></ion-list-header>
    <ion-item>Data: {{treino?.dataHorario | date: "dd/MM/yyyy" }} </ion-item>
    <ion-item>Horário: {{treino?.dataHorario | date: "HH:mm" }} </ion-item>
    <ion-item>Local: {{treino?.local}}</ion-item> 
  </ion-list>
  <!-- <ion-list [inset]="true" lines="full">
    <ion-list-header><h1>Atletas relacionados</h1></ion-list-header>
    <ion-item>CEP: {{ atleta?.endereco?.CEP }}</ion-item>
    <ion-item>Logradouro: {{ atleta?.endereco?.logradouro }}</ion-item>
    <ion-item>Número/Lote: {{ atleta?.endereco?.numeroLote }}</ion-item>
    <ion-item>Complemento: {{ atleta?.endereco?.complemento }}</ion-item>
    <ion-item>Localidade: {{ atleta?.endereco?.localidade }}</ion-item>
    <ion-item>UF: {{ atleta?.endereco?.UF }}</ion-item>
  </ion-list> -->
</ion-content>
